<%- include('../include/header.ejs') %>

  <!-- <div class="container">
    <h3><a href="/home/home"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a> Chi tiết sản phẩm</h3>

    <form>
        <fieldset disabled>

          <div class="mb-3">
            <label  class="form-label">Tên sản phẩm</label>
                <input style="color: black; margin-left: 27px;" type="text" value="<%= objSP.name %>">
          </div>
          <div class="mb-3">
            <label  class="form-label">Giá sản phẩm</label>
                <input style="color: black; margin-left: 27px;" value="<%= objSP.price %>">
          </div>
          <div class="mb-3">
            <label  class="form-label">Chi tiết sản phẩm</label>
                <input style="color: black;" value="<%= objSP.noidung %>">
          </div>
         
        </fieldset>
      </form>
</div> -->

  <%- include('../include/footer.ejs') %>